<a href="#"><img class="chefs-hat-logo" src="./img/logo_small.png" alt="KochmĂźtzen Logo" /></a>

<div class="footer-center hide">
  <h3 class="footer-headline">RECHTLICHES</h3>

  <a href="./imprint.html">Impressum</a>
  <a href="./datenschutz.html">Datenschutz</a>
</div>

<div class="footer-center hide">
  <h3 class="footer-headline">INFORMATIONEN</h3>

  <a href="./contact.html">Kontakt</a>
</div>

<div class="footer-center">
  <h3 class="footer-headline">SOCIAL MEDIA</h3>

  <div>
    <a href="https://de-de.facebook.com/" target="_blank"><img class="social-logo" src="./img/facebook_white.png"
        alt="Facebook Logo" /></a>
    <a href="https://www.instagram.com/" target="_blank"><img class="social-logo" src="./img/instagram_white.png"
        alt="Instagram Logo" /></a>
    <a href="https://twitter.com/" target="_blank"><img class="social-logo" src="./img/twitter_white.png"
        alt="Twitter Logo" /></a>
  </div>
</div>