<header>
    <!-- <div class="logo-nav-div container">
        <div>
            <a href="./index.html"><img class="kochwelt-logo" src="./img/logo.png" alt="Kochwelt Logo"></a>
        </div>
        <div class="grow"></div>
        <nav>
            <a href="./index.html">Start</a>
            <a href="./rezept-kaesekuchen.html">Rezept des Tages</a>
            <a href="./contact.html">Kontakt</a>
            <a href="./imprint.html">Impressum</a>
        </nav>

        <div><img onclick="showMenu()" src="./img/bars-solid.svg" class="responsive-menu" alt="Responsive Menu Bars">
        </div>
        <div id="overlay-menu" class="overlay-menu">
            <div><img onclick="closeMenu()" class="responsive-menu" src="./img/xmark-solid.svg"
                    alt="Responsive X-Mark"></div>
            <div class="overlay-nav" onclick="closeMenu()">
                <a href="./index.html" >Start</a>
                <a href="./rezept-kaesekuchen.html">Rezept des Tages</a>
                <a href="./contact.html">Kontakt</a>
                <a href="./imprint.html">Impressum</a>
            </div>
        </div>
    </div> -->
</header>