:root {
  
  --primary-50: #fef2f2;
  --primary-100: #fee2e2;
  --primary-200: hsl(0, 96%, 89%);
  --primary-300: hsl(0, 94%, 82%);
  --primary-400: hsl(0, 91%, 71%);
  --primary-500: rgb(239, 67, 67);
  --primary-600: rgb(220, 40, 40);
  --primary-700: hsl(0, 74%, 42%);
  --primary-800: hsl(0, 70%, 35%);
  --primary-900: hsl(0, 63%, 31%);
  --primary-950: hsl(0, 75%, 15%); 

/* 
  --fire-0: hsl(0, 95%, 30%);
  --fire-0: hsl(0, 95%, 50%);
  --fire-1: hsl(0, 95%, 70%);
  --fire-2: hsl(0, 85%, 75%);

  --grass-0: hsl(167, 60%, 20%);
  --grass-0: hsl(167, 60%, 35%);
  --grass-1: hsl(167, 60%, 55%);
  --grass-2: hsl(169, 67%, 62%);

  --water-0: hsl(208, 99%, 35%);
  --water-0: hsl(208, 99%, 53%);
  --water-1: hsl(208, 99%, 73%);
  --water-2: hsl(206, 98%, 76%);

  --electric-0: hsl(44, 100%, 25%);
  --electric-0: hsl(44, 100%, 45%);
  --electric-1: hsl(44, 100%, 65%);
  --electric-2: hsl(47, 100%, 68%);

  --bug-0: hsl(90, 48%, 15%);
  --bug-0: hsl(90, 48%, 21%);
  --bug-1: hsl(90, 48%, 41%);
  --bug-2: hsl(88, 48%, 46%);

  --normal-0: hsl(0, 0%, 31%);
  --normal-0: hsl(0, 0%, 41%);
  --normal-1: hsl(0, 0%, 61%);
  --normal-2: hsl(0, 0%, 69%);

  --poison-0: hsl(270, 40%, 22%);
  --poison-0: hsl(270, 30%, 29%);
  --poison-1: hsl(270, 30%, 49%);
  --poison-2: hsl(268, 30%, 56%); 

  --ground-0: hsl(39, 40%, 16%);
  --ground-0: hsl(39, 35%, 23%);
  --ground-1: hsl(39, 35%, 43%);
  --ground-2: hsl(41, 35%, 50%);

  --fairy-0: hsl(308, 42%, 45%);
  --fairy-0: hsl(308, 37%, 57%);
  --fairy-1: hsl(308, 37%, 77%);
  --fairy-2: hsl(305, 37%, 82%);

  --fighting-0: hsl(23, 65%, 22%);
  --fighting-0: hsl(23, 55%, 30%);
  --fighting-1: hsl(23, 55%, 50%);
  --fighting-2: hsl(20, 55%, 60%);

  --rock-0: hsl(178, 18%, 16%);
  --rock-0: hsl(178, 13%, 22%);
  --rock-1: hsl(178, 13%, 42%);
  --rock-2: hsl(180, 13%, 50%);

  --ghost-0: hsl(279, 40%, 30%);
  --ghost-0: hsl(279, 30%, 37%);
  --ghost-1: hsl(279, 30%, 57%);
  --ghost-2: hsl(281, 30%, 65%);

  --psychic-0: hsl(336, 66%, 24%);
  --psychic-0: hsl(336, 56%, 32%);
  --psychic-1: hsl(336, 56%, 52%);
  --psychic-2: hsl(336, 64%, 60%);

  --ice-0: hsl(191, 78%, 18%);
  --ice-0: hsl(191, 68%, 24%);
  --ice-1: hsl(191, 68%, 44%);
  --ice-2: hsl(190, 68%, 51%);

  --dragon-0: hsl(248, 72%, 26%);
  --dragon-0: hsl(248, 67%, 31%);
  --dragon-1: hsl(248, 67%, 51%);
  --dragon-2: hsl(248, 67%, 63%);
 */
--fire-0: hsl(0, 95%, 30%);
--fire-1: hsl(0, 95%, 50%);
--fire-2: hsl(0, 95%, 70%);
--fire-3: hsl(0, 95%, 75%);

--grass-0: hsl(167, 80%, 20%);
--grass-1: hsl(167, 60%, 35%);
--grass-2: hsl(167, 60%, 55%);
--grass-3: hsl(169, 67%, 62%);

--water-0: hsl(208, 100%, 38%);
--water-1: hsl(208, 100%, 48%);
--water-2: hsl(208, 100%, 60%);
--water-3: hsl(208, 100%, 70%);

--electric-0: hsl(50, 100%, 35%);
--electric-1: hsl(50, 100%, 45%);
--electric-2: hsl(50, 100%, 50%);
--electric-3: hsl(50, 100%, 60%);

--bug-0: hsl(90, 98%, 25%);
--bug-1: hsl(90, 98%, 31%);
--bug-2: hsl(90, 98%, 41%);
--bug-3: hsl(88, 98%, 46%);

--normal-0: hsl(0, 0%, 41%);
--normal-1: hsl(0, 0%, 51%);
--normal-2: hsl(0, 0%, 61%);
--normal-3: hsl(0, 0%, 69%);

--poison-0: hsl(270, 30%, 36%);
--poison-1: hsl(270, 30%, 42%);
--poison-2: hsl(270, 30%, 49%);
--poison-3: hsl(268, 30%, 56%);

--ground-0: hsl(39, 45%, 26%);
--ground-1: hsl(39, 35%, 33%);
--ground-2: hsl(39, 35%, 43%);
--ground-3: hsl(41, 35%, 50%);

--fairy-0: hsl(308, 85%, 45%);
--fairy-1: hsl(308, 85%, 62%);
--fairy-2: hsl(308, 85%, 72%);
--fairy-3: hsl(308, 85%, 82%);

--fighting-0: hsl(23, 85%, 32%);
--fighting-1: hsl(23, 55%, 40%);
--fighting-2: hsl(23, 55%, 50%);
--fighting-3: hsl(20, 55%, 60%);

--rock-0: hsl(178, 23%, 28%);
--rock-1: hsl(178, 23%, 32%);
--rock-2: hsl(178, 23%, 42%);
--rock-3: hsl(180, 23%, 50%);

--ghost-0: hsl(279, 30%, 44%);
--ghost-1: hsl(279, 30%, 48%);
--ghost-2: hsl(279, 30%, 57%);
--ghost-3: hsl(279, 30%, 65%);

--psychic-0: hsl(336, 56%, 36%);
--psychic-1: hsl(336, 56%, 42%);
--psychic-2: hsl(336, 56%, 52%);
--psychic-3: hsl(336, 56%, 60%);

--ice-0: hsl(191, 98%, 26%);
--ice-1: hsl(191, 68%, 36%);
--ice-2: hsl(191, 68%, 44%);
--ice-3: hsl(191, 68%, 51%);

--dragon-0: hsl(248, 77%, 30%);
--dragon-1: hsl(248, 77%, 44%);
--dragon-2: hsl(248, 77%, 56%);
--dragon-3: hsl(248, 77%, 66%);

--flying-0: hsl(198, 67%, 36%);
--flying-1: hsl(198, 67%, 46%);
--flying-2: hsl(198, 67%, 54%);
--flying-3: hsl(198, 67%, 68%);

/* --ghost-0: hsl(241, 39%, 16%);
--ghost-1: hsl(241, 27%, 32%);
--ghost-2: hsl(239, 39%, 48%);
--ghost-3: hsl(239, 39%, 64%); */

--dark-0: hsl(25, 21%, 26%);
--dark-1: hsl(25, 21%, 30%);
--dark-2: hsl(24, 21%, 35%);
--dark-3: hsl(24, 21%, 47%);

--steel-0: hsl(266, 20%, 34%);
--steel-1: hsl(266, 20%, 40%);
--steel-2: hsl(266, 20%, 48%);
--steel-3: hsl(266, 20%, 56%);

  --zinc-033: hsl(0, 0%, 98%);
  --zinc-067: hsl(240, 2%, 98%);
  --zinc-100: hsl(240, 5%, 96%);
  --zinc-133: hsl(240, 5%, 94%);
  --zinc-167: hsl(240, 5%, 92%);
  --zinc-200: hsl(240, 6%, 90%);
  --zinc-233: hsl(240, 6%, 88%);
  --zinc-267: hsl(240, 6%, 86%);
  --zinc-300: hsl(240, 5%, 84%);
  --zinc-333: hsl(240, 5%, 77%);
  --zinc-367: hsl(240, 5%, 71%);
  --zinc-400: hsl(240, 5%, 65%);
  --zinc-433: hsl(240, 5%, 59%);
  --zinc-467: hsl(240, 5%, 53%);
  --zinc-500: hsl(240, 4%, 46%);
  --zinc-533: hsl(240, 4%, 42%);
  --zinc-567: hsl(240, 4%, 38%);
  --zinc-600: hsl(240, 5%, 34%);
  --zinc-633: hsl(240, 5%, 31%);
  --zinc-667: hsl(240, 5%, 28%);
  --zinc-700: hsl(240, 5%, 26%);
  --zinc-733: rgb(54, 53, 59);
  --zinc-767: hsl(249, 5%, 19%);
  --zinc-800: hsl(240, 4%, 16%);
  --zinc-833: hsl(240, 4%, 14%);
  --zinc-867: hsl(240, 5%, 12%);
  --zinc-900: hsl(240, 6%, 10%);
  --zinc-933: hsl(240, 8%, 7%);
  --zinc-967: hsl(240, 10%, 4%);
  
  /* rest of the colors */
  --black: hsl(0, 0%, 13%);
  --white: hsl(0, 0%, 100%);
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  

  /* rest of the vars */
  --background-color: var(--zinc-67);
  --text-color: var(--zinc-900);
  --border-radius: 28px;
  --small-text: 14px;
  --very-small-text: 12px;
  --letter-spacing: 1px;
  --transition: all 425ms ease;
  --max-width: 1120px;
  --fixed-width: 600px;

  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

   /* zum ersten Schatten wird ein zweiter Schatten  mit leicht unterschiedlichen Eigenschaften definiert */


  /*  horizontaler Versatz,
    vertikaler Versatz, 
    Weichzeichnungsradius und die 
    Ausbreitung des Schattens. */
  /* Kochwelt */
  --shadow-5: 0 2px 10px 0 rgba(0, 0, 0, 0.2); 

  /* Notizblock */

  --shadow-6: 0px 2px 6px 2px rgba(0, 0, 0, 0.24);
  --shadow-7: 4px 4px 12px 2px rgba(0, 0, 0, 0.34);
  --shadow-8: 4px 4px 12px 3px rgba(0, 0, 0, 0.52);

  --shadow-9: 0 0 6px 2px rgb(0 0 0 / 24%);
  --shadow-10: 2px 6px 4px 2px rgba(0, 0, 0, 0.24); 

  /* Lieferando */
  --shadow-11: 0 0 12px 6px rgb(0 0 0 / 6%);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.pokemon-logo {
  width: 88px;
  position: absolute;
  top: 52px;
  left: 16px;
  z-index: -1;
}
 
/* Large Display */

.pokedex {
  min-height: 50vh;
  background-color: var(--red-1);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 24px;
}

.large-display-h1 {
  text-transform: capitalize;
} 

.pokemon-image-container {
  height: 420px;
}

.pokemon-image {
  height: 420px;
  margin-top: -330px;
}

.info-container {
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  min-height: 100px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.no-scroll {
  overflow-y: hidden;
}

/* Small Cards */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 12px 32px; 
}

.card-h2 {
  letter-spacing: var(--letter-spacing);
  padding-top: 14px;
  font-size: 26px;
  margin: 0;
}
.card {
  width: 300px;
  height: 275px;
  text-transform: capitalize;
  border-radius: var(--border-radius);
  color: white;
  padding: 18px;
  transition: var(--transition);
  box-shadow: var(--shadow-6);
  position: relative;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow-7);
  cursor: pointer;
}

.small-pokemon-image {
  width: 150px;
  /* position: relative;
  bottom: 16px; */
  transition: var(--transition);
}

.small-pokemon-image:hover {
  transform: scale(1.3);
}

/* .small-img-container {
  display: flex;
  align-items: start;
} */

.small-card-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-type {
  padding: 10px 20px;
  width: fit-content;
  border-radius: 28px;
  margin: 8px 0px;
  text-shadow: 1px 1px 0 var(--zinc-467);
  letter-spacing: var(--letter-spacing);
}

.id-number {
  position: absolute;
  bottom: 28px;
  left: 48px;
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
}

/* Shades of Colours: https://noeldelgado.github.io/shadowlord/#6a31fc */

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--white);
  box-shadow: inset 0 0 5px var(--zinc-400);
}

::-webkit-scrollbar-thumb {
  background: var(--zinc-367);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--zinc-433); 
}

::-webkit-scrollbar-thumb:active {
  background: var(--zinc-500); 
}    

/* General */

.medium-icon {
  width: 24px;
  height: 24px;
}

.small-icon {
  width: 21px;
  height: 21px;
}
.very-small-icon {
  width: 18px;
  height: 18px;
}

.bold {
  font-weight: 600;
}

.very-small-text {
  font-size: var(--very-small-text);
}

.small-text {
  font-size: var(--small-text);
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

.container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 24px;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

ul li {
    list-style-type: none;
}

.img {
  width: 100%;
  object-fit: cover;
}

.center {
  text-align: center;
}

.cursor {
  cursor: pointer;
}


/* Header */

.hero {
  height: 40vh;
  background: url('./img/image.jpg') center/cover no-repeat;
  border-radius: var(--border-radius);
  position: relative;
}

.hero-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  color: var(--white);
}

nav a {
    color: rgb(28, 28, 28);
    text-decoration: none;
    font-weight: 700;
    margin-left: 16px;
    }

nav a:hover {
    border-bottom: 4px solid rgb(38, 128, 0);
    color: rgb(38, 128, 0);
    padding-bottom: 8px;
}

.header {
    /* background-color: var(--primary-600); */
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-h1 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  font-family: "Saira", sans-serif; 
  /* font-family: "Sono", monospace;
  /* font-family: "Comfortaa", sans-serif; */
  /* font-family: "Teko", sans-serif; */
}

.logo-nav-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
} 

nav {
    margin-bottom: 12px;
}


/* Use font awsome */
/* .fa-chevron-up, .fa-chevron-down {
  cursor: pointer;
  color: yellow;
} */

/* Hidden Element */

.hide-element {
  transition: var(--transition);
  transform: translateX(101%);
}

.show-element {
  transform: translateX(0);
}


/* Main */
.main {
  
  background-image: radial-gradient(ellipse at 700px bottom,   #000, blue, #fff);
/* background-image: radial-gradient(ellipse at 100px bottom, green, blue, yellow,black); */

  min-height: calc(100vh); 


  /* 100vh - header or header and footer heigth 
  min-height: calc(100vh - (80px + 64px));*/
}





.flex-c-c {
    display: flex; /* default: flex-direction: row; */
    justify-content: center;
    align-items: center;
}


.flex-wrap-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* centres the content */
}


.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* OR  */
  grid-template-columns: repeat(4, 1fr);
  /* OR Responsive: */
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px 32px;
}

.grid-column-layout {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 24px;
}

/* Aside */

/* Footer */

    
.a-100percent-element {
    width: 100%;
}

.footer {
    /* background-color: var(--primary-300); */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
  }
  

.footer a {
    color: white;
    padding: 24px 0;
    font-size: 18px;
}
  
.footer a:hover {
 color: var(--zinc-300);    
 /* color: var(--primary-200); */
}
  
/* Style Legal */

.imprint-container {
    margin-top: 64px;
    margin-bottom: 320px;
}

/* buttons */

.btn-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 48px;
  align-items: center;
  padding: 88px 8px
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.75rem 1.5rem;
  box-shadow: var(--shadow-1);
  display: inline-block;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn:active {
  background: var(--primary-900);
}

.search-btn {
  font-weight: 500;
  font-size: 18px;
}

.type-btn {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  color: white; 
  text-shadow: 1px 1px 0 var(--zinc-467);
}

/* .water {background-color: var(--water-0); color: white;}
.grass {background-color: var(--grass-0); color: white;}
.fire {background-color: var(--fire-0); color: white;}
.bug {background-color: var(--bug-0); color: white;}
.normal {background-color: var(--normal-0); color: white;}
.poison {background-color: var(--poison-0); color: white;}
.electric {background-color: var(--electric-0); color: white;}
.ground {background-color: var(--ground-0); color: white;}
.fairy {background-color: var(--fairy-0); color: white;}
.fighting {background-color: var(--fighting-0); color: white;}
.rock {background-color: var(--rock-0); color: white;}
.ghost {background-color: var(--ghost-0); color: white;}
.psychic {background-color: var(--psychic-0); color: white;}
.ice {background-color: var(--ice-0); color: white;}
.dragon {background-color: var(--dragon-0); color: white;}


.water:hover {background-color: var(--water-1);}
.grass:hover {background-color: var(--grass-1);}
.fire:hover {background-color: var(--fire-1);}
.bug:hover {background-color: var(--bug-1);}
.normal:hover {background-color: var(--normal-1);}
.poison:hover {background-color: var(--poison-1);}
.electric:hover {background-color: var(--electric-1);}
.ground:hover {background-color: var(--ground-1);}
.fairy:hover {background-color: var(--fairy-1);}
.fighting:hover {background-color: var(--fighting-1);}
.rock:hover {background-color: var(--rock-1);}
.ghost:hover {background-color: var(--ghost-1);}
.psychic:hover {background-color: var(--psychic-1);}
.ice:hover {background-color: var(--ice-1);}
.dragon:hover {background-color: var(--dragon-1);}


.water:active {background-color: var(--water-2);}
.grass:active {background-color: var(--grass-2);}
.fire:active {background-color: var(--fire-2);}
.bug:active {background-color: var(--bug-2);}
.normal:active {background-color: var(--normal-2);}
.poison:active {background-color: var(--poison-2);}
.electric:active {background-color: var(--electric-2);}
.ground:active {background-color: var(--ground-2);}
.fairy:active {background-color: var(--fairy-2);}
.fighting:active {background-color: var(--fighting-2);}
.rock:active {background-color: var(--rock-2);}
.ghost:active {background-color: var(--ghost-2);}
.psychic:active {background-color: var(--psychic-2);}
.ice:active {background-color: var(--ice-2);}
.dragon:active {background-color: var(--dragon-2);} */

.water {background-color: var(--water-2);}
.grass {background-color: var(--grass-2);}
.fire {background-color: var(--fire-2);}
.bug {background-color: var(--bug-2);}
.normal {background-color: var(--normal-2);}
.poison {background-color: var(--poison-2);}
.electric {background-color: var(--electric-2);}
.ground {background-color: var(--ground-2);}
.fairy {background-color: var(--fairy-2);}
.fighting {background-color: var(--fighting-2);}
.rock {background-color: var(--rock-2);}
.ghost {background-color: var(--ghost-2);}
.psychic {background-color: var(--psychic-2);}
.ice {background-color: var(--ice-2);}
.dragon {background-color: var(--dragon-2);}
.flying {background-color: var(--flying-2);}
.ghost {background-color: var(--ghost-2);}
.dark {background-color: var(--dark-2);}
.steel {background-color: var(--steel-2);}

.water:hover {background-color: var(--water-1);}
.grass:hover {background-color: var(--grass-1);}
.fire:hover {background-color: var(--fire-1);}
.bug:hover {background-color: var(--bug-1);}
.normal:hover {background-color: var(--normal-1);}
.poison:hover {background-color: var(--poison-1);}
.electric:hover {background-color: var(--electric-1);}
.ground:hover {background-color: var(--ground-1);}
.fairy:hover {background-color: var(--fairy-1);}
.fighting:hover {background-color: var(--fighting-1);}
.rock:hover {background-color: var(--rock-1);}
.ghost:hover {background-color: var(--ghost-1);}
.psychic:hover {background-color: var(--psychic-1);}
.ice:hover {background-color: var(--ice-1);}
.dragon:hover {background-color: var(--dragon-1);}
.flying:hover {background-color: var(--flying-1);} 
.ghost:hover {background-color: var(--ghost-1);} 
.dark:hover {background-color: var(--dark-1);} 
.steel:hover {background-color: var(--steel-1);} 

.water:active {background-color: var(--water-0);}
.grass:active {background-color: var(--grass-0);}
.fire:active {background-color: var(--fire-0);}
.bug:active {background-color: var(--bug-0);}
.normal:active {background-color: var(--normal-0);}
.poison:active {background-color: var(--poison-0);}
.electric:active {background-color: var(--electric-0);}
.ground:active {background-color: var(--ground-0);}
.fairy:active {background-color: var(--fairy-0);}
.fighting:active {background-color: var(--fighting-0);}
.rock:active {background-color: var(--rock-0);}
.ghost:active {background-color: var(--ghost-0);}
.psychic:active {background-color: var(--psychic-0);}
.ice:active {background-color: var(--ice-0);}
.dragon:active {background-color: var(--dragon-0);}
.flying:active {background-color: var(--flying-0);}
.ghost:active {background-color: var(--ghost-0);}
.dark:active {background-color: var(--dark-0);}
.steel:active {background-color: var(--steel-0);}

.load-cards-btn {
  /* background: var(--primary-400); */
  font-size: 20px;
  font-weight: 500;
  width: 336px;
}

.more-type-btn {
  text-transform: capitalize;
}

.more-type-btn-text {
  margin: 0;
  padding: 0;
}
/* .load-cards-btn:hover {
  background: var(--primary-800);

}

.load-cards-btn:active {
  background: var(--primary-900);
} */

.button {
    color: white;
    background-color: rgb(38, 128, 0);
    padding: 8px 32px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(38, 128, 0);
}

.button.active {
    background-color: rgb(38, 128, 0);
}

/* alerts */

.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);

}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* search-section */

.search-section {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 40px 16px 24px;
  gap: 40px;
}

.suggestions-container {
  position: relative;
  
}
.suggestions {
  background-color: var(--primary-400);
  position: absolute;
  top: -50px;
  left: 120px;
  min-width: 120px;
  text-align: center;
  border-radius: var(--border-radius);

}

.x-mark-suggestions {
  position: absolute;
  top: -56px;
  left: 112px;
  
}

.suggestion {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-family: "Saira", sans-serif; 
  color: white;
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
}

.suggestion:hover {
  /* background-color: var(--primary-500); */
  color: var(--primary-900);
}

.form {
  width: 95vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form-container {
  display: flex;
  flex-flow: column;
  justify-content: start;
  gap: 16px;
}

.form-label {
  font-size: 18px;
}

.form-input {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--zinc-200);
  font-size: 18px;
  
}
.form-input:focus { 
    outline-color: var(--zinc-267);
}

::placeholder {
  font-family: inherit;
  color: var(--zinc-367);
}

.type-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 24px 32px;
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
}

.chevron-up {
  display: none;
  position: fixed;
  bottom: 112px;
  right: 5vw; 
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 6px 3px #00000044;
  cursor: pointer;
  z-index: 2;
}

.chevron-down {
  display: flex;
  position: fixed;
  bottom: 46px;
  right: 5vw; 
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 6px 3px #00000044;
  cursor: pointer;
  z-index: 2;
}


/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}


.d-none {
    display: none;
}

