* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.pokemon-logo {
  width: 88px;
  position: absolute;
  top: 52px;
  left: 16px;
  z-index: -1;
}
 
/* Loading Screen */

.loading-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 8;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.background-color {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 8;
  background-color: #11111199;
  backdrop-filter: blur(4px);
}

.loading-screen-container {
  padding-top: 8vh;
  text-align: center;
}

.loading-screen-h1 {
  color: #fff;
  font-size: 48px;
  padding-top: 10vh;  
}

.loading-screen-img {
  width: 300px;
  height: 300px;
  animation: spinner 1.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  margin: 0 auto;
}

/* Header */

.header {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-h1 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  font-family: "Saira", sans-serif; 
}

.logo-nav-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
} 

nav {
    margin-bottom: 12px;
}

/* Big Pokemon Card */

.big-pokemon-card-background {
  background-color: #11111199;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-pokemon-card {
  min-height: 60vh;
  width:100%;
  border: 1px solid var(--zinc-433);
  border-radius: var(--border-radius);
  color: white;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.image-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}

.x-mark-big-card-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 16px 16px 0 0;  
  cursor: pointer;
}

.x-mark-big-card {
  transition: var(--transition-1);
}

.x-mark-big-card:hover {
  transform: scale(1.2);
}

.x-mark-big-card:active {
  transform: scale(1.3);
}

.info-section {
  border-radius: var(--border-radius);
  color: #000;
  height: 400px;
  width: 100%;
  color: var(--zinc-767);
}

.info-section-nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.info-section-h2 {
  width: 33.34%;
  text-align: center;
  cursor: pointer;
  padding: 12px 16px 8px;
  margin: 0;
  color: white;
}

.info-section-h2:hover {
  text-decoration: underline white;
}

.about-h2:hover {
  color: var(--zinc-767);
}

.border-side-and-top {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: none;
  color: var(--zinc-767);
  background-color: #fff;
}

.border-bottom {
  color: white;
}

.outer-info-section-main {
  height: calc(400px - (20px + 28.17px));
  background-color: #fff;
  border-radius:  var(--border-radius);
  border-top-left-radius: 0;
  padding-top: 40px;
}

.info-section-main {
  height: calc(400px - (20px + 28.17px + 72px));
  background-color: #fff;
  overflow-y: scroll;
}

.about-numbers {
  text-transform: lowercase;
}

.table-about {
  padding: 0 48px;
}

.table-about th {
  width: 160px;
  text-align: start;
  line-height: 64px;
}

.stats {
  padding: 0 16px;
}

.moves h2 {
  margin-top: 0;
  font-size: 18px;
}

.moves ol, .table-about {
  line-height: 22px;
  font-size: 16px;  
}

.moves {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  padding: 0 24px 0 16px;
}

.big-card-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.big-pokemon-image {
  width: 150px;
  transition: var(--transition-3);
}

.big-pokemon-image:hover {
  transform: scale(1.5);
}

.no-scroll {
  overflow-y: hidden;
}

.big-card-h2 {
  letter-spacing: var(--letter-spacing);
  font-size: 40px;
  margin: 0;
  padding-bottom: 32px;
  text-align: center;
  padding: 16px;
  background-color: none;
}

.big-card-chevrons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.big-card-chevron-left {
  padding: 0 20px;
  cursor: pointer;
  transition: var(--transition-1);
}

.big-card-chevron-right {
  padding: 0 20px;
  cursor: pointer;
  transition: var(--transition-1);
}

.big-card-chevron-left:hover, .big-card-chevron-right:hover {
  transform: scale(1.2);
}

.big-card-chevron-left:active, .big-card-chevron-right:active {
  transform: scale(1.3);
}

.big-id-number {
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  padding-top: 24px;
}

/* Small Cards */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 12px 32px; 
}

.card-h2 {
  letter-spacing: var(--letter-spacing);
  padding-top: 14px;
  font-size: 26px;
  margin: 0;
}

.card {
  width: 300px;
  height: 275px;
  text-transform: capitalize;
  border-radius: var(--border-radius);
  color: white;
  padding: 18px;
  transition: var(--transition-2);
  box-shadow: var(--shadow-6);
  position: relative;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow-7);
  cursor: pointer;
}

.small-pokemon-image {
  width: 150px;
  transition: var(--transition-3);
}

.small-pokemon-image:hover {
  transform: scale(1.3);
}

.small-card-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-type {
  padding: 10px 20px;
  width: fit-content;
  border-radius: 28px;
  margin: 8px 0px;
  text-shadow: 1px 1px 0 var(--zinc-467);
  letter-spacing: var(--letter-spacing);
}

.id-number {
  position: absolute;
  bottom: 28px;
  left: 48px;
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
}

/* Main */

.main {
  
  background-image: radial-gradient(ellipse at 700px bottom,   #000, blue, #fff);
  min-height: calc(100vh); 
}

.flex-c-c {
    display: flex; /* default: flex-direction: row; */
    justify-content: center;
    align-items: center;
}

.flex-wrap-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* centres the content */
}

/* Footer */
    
.a-100percent-element {
    width: 100%;
}

.footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
  }
  
.footer a {
    color: white;
    padding: 24px 0;
    font-size: 18px;
}
  
.footer a:hover {
 color: var(--zinc-300);    
}
  
/* Style Legal */

.imprint-container {
    margin-top: 64px;
    margin-bottom: 320px;
}

/* buttons */

.btn-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 48px;
  align-items: center;
  padding: 88px 8px
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.75rem 1.5rem;
  box-shadow: var(--shadow-1);
  display: inline-block;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn:active {
  background: var(--primary-900);
}

.search-btn {
  font-weight: 500;
  font-size: 18px;
}

.type-btn {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  color: white; 
  text-shadow: 1px 1px 0 var(--zinc-467);
}

.load-cards-btn {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

.more-type-btn {
  text-transform: capitalize;
}

.more-type-btn-text {
  margin: 0;
  padding: 0;
}

.button {
    color: white;
    background-color: rgb(38, 128, 0);
    padding: 8px 32px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(38, 128, 0);
}

.button.active {
    background-color: rgb(38, 128, 0);
}

.water {background-color: var(--water-2);}
.grass {background-color: var(--grass-2);}
.fire {background-color: var(--fire-2);}
.bug {background-color: var(--bug-2);}
.normal {background-color: var(--normal-2);}
.poison {background-color: var(--poison-2);}
.electric {background-color: var(--electric-2);}
.ground {background-color: var(--ground-2);}
.fairy {background-color: var(--fairy-2);}
.fighting {background-color: var(--fighting-2);}
.rock {background-color: var(--rock-2);}
.ghost {background-color: var(--ghost-2);}
.psychic {background-color: var(--psychic-2);}
.ice {background-color: var(--ice-2);}
.dragon {background-color: var(--dragon-2);}
.flying {background-color: var(--flying-2);}
.ghost {background-color: var(--ghost-2);}
.dark {background-color: var(--dark-2);}
.steel {background-color: var(--steel-2);}

.water:hover {background-color: var(--water-1);}
.grass:hover {background-color: var(--grass-1);}
.fire:hover {background-color: var(--fire-1);}
.bug:hover {background-color: var(--bug-1);}
.normal:hover {background-color: var(--normal-1);}
.poison:hover {background-color: var(--poison-1);}
.electric:hover {background-color: var(--electric-1);}
.ground:hover {background-color: var(--ground-1);}
.fairy:hover {background-color: var(--fairy-1);}
.fighting:hover {background-color: var(--fighting-1);}
.rock:hover {background-color: var(--rock-1);}
.ghost:hover {background-color: var(--ghost-1);}
.psychic:hover {background-color: var(--psychic-1);}
.ice:hover {background-color: var(--ice-1);}
.dragon:hover {background-color: var(--dragon-1);}
.flying:hover {background-color: var(--flying-1);} 
.ghost:hover {background-color: var(--ghost-1);} 
.dark:hover {background-color: var(--dark-1);} 
.steel:hover {background-color: var(--steel-1);} 

.water:active {background-color: var(--water-0);}
.grass:active {background-color: var(--grass-0);}
.fire:active {background-color: var(--fire-0);}
.bug:active {background-color: var(--bug-0);}
.normal:active {background-color: var(--normal-0);}
.poison:active {background-color: var(--poison-0);}
.electric:active {background-color: var(--electric-0);}
.ground:active {background-color: var(--ground-0);}
.fairy:active {background-color: var(--fairy-0);}
.fighting:active {background-color: var(--fighting-0);}
.rock:active {background-color: var(--rock-0);}
.ghost:active {background-color: var(--ghost-0);}
.psychic:active {background-color: var(--psychic-0);}
.ice:active {background-color: var(--ice-0);}
.dragon:active {background-color: var(--dragon-0);}
.flying:active {background-color: var(--flying-0);}
.ghost:active {background-color: var(--ghost-0);}
.dark:active {background-color: var(--dark-0);}
.steel:active {background-color: var(--steel-0);}

/* alerts */

.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);

}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* search-section */

.search-section {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 40px 16px 24px;
  gap: 40px;
}

.suggestions-container {
  position: relative;
}
.suggestions {
  background-color: var(--primary-400);
  position: absolute;
  top: -50px;
  left: 120px;
  min-width: 120px;
  text-align: center;
  border-radius: var(--border-radius);
}

.x-mark-suggestions {
  position: absolute;
  top: -56px;
  left: 112px;
}

.suggestion {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-family: "Saira", sans-serif; 
  color: white;
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  border-radius: var(--border-radius);
}

.suggestion:hover {
  /* background-color: var(--primary-500); */
  color: var(--primary-900);
}

.form {
  width: 95vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form-container {
  display: flex;
  flex-flow: column;
  justify-content: start;
  gap: 16px;
}

.form-label {
  font-size: 18px;
}

.form-input {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--zinc-200);
  font-size: 18px;
}
.form-input:focus { 
    outline-color: var(--zinc-267);
}

::placeholder {
  font-family: inherit;
  color: var(--zinc-367);
}

.type-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 24px 32px;
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
}

.chevron-up {
  display: none;
  position: fixed;
  bottom: 112px;
  right: 5vw; 
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 6px 3px #00000044;
  cursor: pointer;
  z-index: 2;
  transition: var(--transition-1);
}

.chevron-up:hover {
  transform: scale(1.06);
}

.chevron-up:active {
  transform: scale(1.1);
}

.chevron-down {
  display: flex;
  position: fixed;
  bottom: 46px;
  right: 5vw; 
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 6px 3px #00000044;
  cursor: pointer;
  z-index: 2;
  transition: var(--transition-1);
}

.chevron-down:hover {
  transform: scale(1.06);
  box-shadow: 8px 10px 8px 3px #00000044;
}

.chevron-down:active {
  transform: scale(1.1);
  box-shadow: 8px 12px 12px 3px #00000044;
}

.d-none {
    display: none;
}